@import url(https://fonts.googleapis.com/css?family=Poppins);
$bg-img: url("https://marvel-live.freetls.fastly.net/canvas/2020/9/8844bfe11afa4801a5a6422d98339659?quality=95&fake=.png");
$purpleHue: linear-gradient(135deg, #2b2ecf 0%, #652bcf 100%);

:root {
  --gray-900: #1a202c;
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-600: #718096;
  --gray-500: #a0aec0;
  --gray-400: #cbd5e0;
  --gray-300: #e2e8f0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #1053fb;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #07133b;
  --white: white;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);
}

body {
  font-family: Poppins;
  background-color: --white;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .details {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid var(--gray-500);
    width: 100%;
  }
  .header {
    background-color: var(--blue-900);
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .coupled-fields {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    position: relative;
    input {
      width: 45%;
    }
    .source-label {
      font-size: 12px;
      display: block;
      background: white;
      z-index: 2;
      left: 382px;
      top: -5px;
      position: absolute;
    }
    .destination-label {
      font-size: 12px;
      display: block;
      background: white;
      top: -7px;
      left: 15px;
      z-index: 2;
      position: absolute;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0px;

    .error-field {
      color: var(--red-600);
      font-size: 10px;
      display: block;
      position: absolute;
      bottom: -20px;
    }
  }
  .bidAmount {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"><text x="5" y="19" style="font: bold 16px Arial;">Age:</text></svg>')
      no-repeat;
    border: none;
    width: 300px;
    height: 100px;
    font-size: 36px;
  }
  .form > * {
    width: 100%;
    margin-bottom: 20px;

    label {
      font-size: 12px;
      display: block;
      background: white;
      margin-bottom: -10px;
      z-index: 2;
      position: absolute;
      left: 10px;
      top: -5px;
    }
  }

  .form-field {
    height: auto;
    border-radius: 5px;
    border-color: #eee;
    border: 1px solid #ddd;
    font-weight: bolder;
    color: var(--gray-900);
    width: 100%;
    padding: 1.25rem 0.5rem;
    box-sizing: border-box;
    margin-top: 20px;
  }
  .relative {
    position: relative;
    margin: 30px 0;
  }
  select {
    margin: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 1.25rem 0.5rem;
    font-size: 1rem;
    border: 2px solid var(--gray-200);
    border-radius: 10px;
    color: var(--gray-700);
    height: auto;
    width: 100%;
    font-weight: bolder;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23343334"/></svg>');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center right 0.5rem;
  }
  .submit {
    background-color: var(--blue-600);
    color: white;
    width: 93%;

    height: 60px;
    display: block;
    margin: 50px auto;
    border: none;
    font-size: 24px;
    border-radius: 5px;
  }
  .wrapper {
    padding: 30px;
    @media (max-width: 500px) {
      padding: 0;
    }

    .mainContent {
      margin-left: 134px;
      @media (max-width: 500px) {
        margin-left: 0;
      }

      .project-allocations-search-heading {
        color: #ff0066;
        font-family: Poppins;
        font-size: 36px;
        line-height: 43px;
        text-align: left;
        font-weight: bolder;
        margin: 40px 0px;
        @media (max-width: 500px) {
          position: absolute;
          color: #ffffff;
          font-family: Poppins;
          font-size: 42px;
          line-height: 50px;
          text-align: center;
          top: 100px;
          text-shadow: 2px 2px #222;
        }
      }
    }
  }
}
